@import 'Global';

#contactPage {
  #contactMethods {
    color: $colorPrimaryLight;
    background: $colorPrimary;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;

    .email, .social {
      h3 {
        color: $colorGreyLight;
      }
      padding: 10px;
    }
  }


  @media screen and (max-width: 775px) {
    flex-direction: column;

    #otherContactMethods {
      margin: 50px 20px 0 0;
    }
  }
}