.dropInDropOut {
  .isDroppingIn {
    display: inline-block;
    animation: dropInAnim 0.3s ease-in;

    @keyframes dropInAnim {
      0% {
        transform: scale(2.5) translate(0, -30px);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .isDroppingOut {
    display: inline-block;
    animation: dropOutAnim 0.3s ease-in;
    animation-fill-mode: forwards;

    @keyframes dropOutAnim {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      100% {
        transform: scale(0.1) translate(0, 50px);
        opacity: 0;
      }
    }
  }
}